/* Feedback.css */
.feedback-section {
  background-image: url("../../Images/feedback-concept-illustration-idea-interest-response-opinion_277904-462.jpg");
  background-size: cover;
  background-position: center;
  padding: 50px 0;
}
